body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-weight: bold;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 30px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 8%;
    margin-bottom: 5%;
}
.about-me{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: grey;
}



#about-me-image{
    width: 47.2%;
    padding-left: 30%;
}
#my-recipes{
    color: grey;
    margin:auto;
    text-align: center;
    padding: 2% 25%;
}


.recipes{
    float: left;
    width: 25%;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gainsboro;

}

.recipes-img{
    padding-top: 5px;
    width: 475px;
    border-radius: 10px;

}

.counter-box{
    float: left;
    width: 87.5%;
    margin-left: 5%;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gainsboro;
}

.counter{
    margin-left: 20%;
}


footer h2{

    text-align: center;
}
footer p{
    text-align: center;
    padding-bottom: 100px;
}
